body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /* background-color: #063559; */
    background-color: var(--color-primary-dark);
}

p, h1, h2, h3, span{
    color: white;
}

#success-alert{
    position: absolute;
    top: 90%;
    right: 0;
    z-index: 99;
}

/* Titles color -------------------------- */

.contentTitle, .myWorksTitle, .aboutMeTitle, .contactMeTitle, .contactMeSubTitle, .personalSitetitle, .companySitetitle{
    /* color: #62ff88; */
    color: var(--color-surface);
}

.form-label{
    /* color: #62ff88; */
    color: var(--color-surface);
}

.personalSiteText, .companySiteText{
    text-align: justify;
}

.myFooter{
    /* TODO: Posicionar o rodapé no fim de qualquer página */
}

/* Article styles */

.article-img{
    height: 300px;
    background-color: black;
}
/* .article-content{
    color: #000;
} */

.article-text p {
    text-indent: 0; /* recuo da primeira linha */
    margin-bottom: 1em; /* espaço entre parágrafos */
    color: #000;
}

.article-text p:first-of-type {
  text-indent: 1em; /* indentação do primeiro parágrafo*/
}

.article-text{
    color: #000;
    text-align: justify;
}

.uselful_parts_text{
color: #000;
}

/* ---------------------------LOGIN PAGE--------------------------- */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #20532d , #665c2d, #39677c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #20532d , #665c2d, #39677c);
    }
    
    /* Linha separando opção de login */
    
    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }
    
    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #000;
    }
    
    .separator:not(:empty)::before {
      margin-right: .25em;
    }
    
    .separator:not(:empty)::after {
      margin-left: .25em;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }