body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #063559;
}
/* .logo_colors{
    color: #62ff88;
    color: #ffe572;
    color: #77d4ff;
} */
p, h1, h2, h3, span{
    color: white;
}

#success-alert{
    position: absolute;
    top: 90%;
    right: 0;
    z-index: 99;
}

/* Titles color -------------------------- */

.contentTitle, .myWorksTitle, .aboutMeTitle, .contactMeTitle, .contactMeSubTitle, .personalSitetitle, .companySitetitle{
    color: #62ff88;
}

.form-label{
    color: #62ff88;
}

.personalSiteText, .companySiteText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.aboutMeText{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-title{
    color: #62ff88;
    color: #ffe572;
    color: #77d4ff;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.work-description{
    font-family: Arial, Helvetica, sans-serif;
}

.popular-images{
    height: 350px;
}

.article-image{
    height: 100%;
    width: 100%;
}

.work-div:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.aboutMeImage{
    /* filter: invert(10%) sepia(50%) saturate(50%) hue-rotate(80deg) brightness(100%) contrast(110%); */
}

.myFooter{
    /* TODO: Posicionar o rodapé no fim de qualquer página */
}

.navbarDiv{
    margin: 0;
    padding: 0;
    background: rgb(6, 53, 89);
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(6, 53, 89, 1) 100%);
}
  
.nav-item .nav-link{
    color: white;
    /* font-size: 20px; */
    text-decoration: none;
}
.nav-item .nav-link:hover{
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 0);
}

.navbar-brand{
    align-items: center;
}

.menu-button{
	animation: pulse 2s infinite;
    color: rgb(59, 255, 102);
    font-size: 2rem;
}

@keyframes pulse {
	0% {
		    color: rgb(59, 255, 102);
	}

	70% {
		color: rgba(255, 255, 255);
	}

	100% {
		   color: rgba(59, 255, 102);
	}
}

/* Content ........................................ */

/* .content{
    background-color: yellow;
    overflow: hidden;
    margin: 0;
}

.myWorks{
    background-color: red;
    overflow: hidden;
    margin: 0;
}
.aboutMe{
    background-color: green;
}

.contactMe{
    background-color: pink;
}
 */
/* section divs ............................... */
.introText{
    width: 100%;
}
img{
    padding: 0;
    margin: 0 0 20px 0;
}

.social-icons-style{
    font-size: 30px;
    color: white;
}

.social-icons-list{
    /* margin: 0 auto; */
}

/* Article styles */

.article-img{
    height: 300px;
    background-color: black;
}
/* .article-content{
    color: #000;
} */

.article-text p {
    text-indent: 0; /* recuo da primeira linha */
    margin-bottom: 1em; /* espaço entre parágrafos */
    color: #000;
}

.article-text p:first-of-type {
  text-indent: 1em; /* indentação do primeiro parágrafo*/
}

.article-text{
    color: #000;
    text-align: justify;
}

.uselful_parts_text{
color: #000;
}

/* ---------------------------LOGIN PAGE--------------------------- */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #20532d , #665c2d, #39677c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #20532d , #665c2d, #39677c);
    }
    
    /* Linha separando opção de login */
    
    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }
    
    .separator::before,
    .separator::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid #000;
    }
    
    .separator:not(:empty)::before {
      margin-right: .25em;
    }
    
    .separator:not(:empty)::after {
      margin-left: .25em;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }